* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  background-color: #eee;
}
.wraps {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  margin: 90px 10%;
  padding: 80px;
}
.wraps .title {
  text-align: center;
}
.buttons {
  display: flex;
  gap: 32px;
}
.btn {
  border: 0;
  background-color: #38c;
  color: #fff;
  padding: 16px 24px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}
.btn:disabled {
  background-color: #999;
  color: #444;
}
.result {
  border: 1px solid #bbb;
  padding: 64px;
  margin: 10px 10%; 
}